# auto-createdpydantic==1.6.7
pydantic==2.2.8
eth-abi==0.5.2
requests==0.7.5
aiohttp==1.6.0
eth-abi==1.5.9
pydantic==2.5.4
eth-abi==2.7.2
eth-abi==2.8.2
eth-abi==2.4.8
pydantic==2.2.6
eth-abi==1.5.0
web3==0.2.6
web3==1.9.2
eth-abi==0.7.5
eth-abi==1.4.3
web3==1.0.2
pydantic==1.3.2
